.form-control {

    background-color: #6200ee;
    color: #aca8b2;;

}
.btn-primary {
    background-color: #03dac5;
    color: #33001A;
    border-radius: 3rem;
    padding: 5px;
    margin-top: 10px;
}